<% layout('layout/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger mt-4" role="alert">
            <h4 class="alert-heading text-center"><%=err.message%> <%=err.statusCode%></h4>  
			
        </div>
    </div>
</div>