<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doña 2.0</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
	<!-- fontawesome -->		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<!-- googlefonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans+Display:wght@700&family=Wallpoet&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Krona+One&family=Montserrat:wght@400;700&family=Wallpoet&display=swap" rel="stylesheet">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <!-- <h3 class="float-md-left mb-0">Doña 2.0</h3> -->
				 <h3 id="title" class="float-md-left mb-0">Doña 2.0 
						<i id="footprint" class="fas fa-paw fa-2x"></i>
				</h3>				
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Portada</a>
                    <a class="nav-link" href="/walks">Caminando con doña</a>
                    <% if(!currentUser) { %>                   
                     <a class="nav-link" href="/register">Regístrate</a>
					 <a class="nav-link" href="/login">Iniciar sesión</a>
                    <% } else { %>
                     <a class="nav-link" href="/logout">Cerrar sesión</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">           
            <h1 id="bienvenida" class="lead"> ¡Bienvenidos a Doña 2.0! </h1>
			<a class="btn btn-lg btn-outline-light mt-2 px-5" href="/walks">EXPLORA <i  class="fas fa-paw ml-2"></i></a>
           
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2021 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>